* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;

}
.home-page {
    background-color: #DAC1B1
}

.container{
  max-width: 1800px;
  margin: 0 auto;
}

header{
  background-color: #7F1F0E;
  padding: 12px;
}

.header{
display: flex;
align-items: center;
justify-content: space-between;
}

.info-perfil{
  display: flex;
  gap: 24px;
  align-items: center;
}

.info-perfil img {
  height: 45px;
  border-radius: 50px;

}
.perfil{
  display: flex;
  align-items: center;
  gap: 8px;
}
.perfil a{
color: white;
}

.nav-list {
    display: flex;
  gap: 20px;
  list-style: none;

}
.item-list{
  display: flex;
  gap: 24px;
  align-items: center;


}
.item-list a {
    color: aliceblue;
    text-decoration: none;
   
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}
.app-footer{
display:flex;
align-items:center;
justify-content:space-between;
background:#8b2a12;
color:white;
padding:15px 30px;
margin-top: auto;


}



.footer-left{
display:flex;
gap:20px;
}

.footer-left a{
color:white;
text-decoration:none;
font-size:14px;
}



.footer-center{

left:50%;
transform:translateX(-50%);
}

.footer-logo{
height:35px;
border-radius: 20px;
}

.footer-right{
font-size:13px;
}



.cadastro-box {
  background: linear-gradient(135deg, #9b4f3c, #8B3A2E);
  width: 100%;
  max-width: 1100px;
  margin: 60px auto;
  padding: 60px;
  border-radius: 25px;
  color: white;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.cadastro-box h1 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 30px;
}


.formulario {
  display: flex;
  gap: 40px;


}


.lado-esquerdo,
.lado-direito {
  flex: 1;
}


.campo {
  margin-bottom: 18px;
}

label {
  font-size: 29px;
  margin-bottom: 8px;
  display: block;

}


input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #f3f3f3;
  font-size: 27px;
  transition: 0.2s;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 0 2px #e74c3c;
}


.descricao-box {
  height: 120px;
  resize: none;
}


.preview {
  width: 180px;
  height: 250px;
  margin: 20px auto;
  border-radius: 15px;
  object-fit: cover;
  background: #eee;
  display: block;
  border: 2px dashed #ccc;
}


button {
  display: block;
  margin: 30px auto 0;
  background: linear-gradient(135deg, #c0392b, #e74c3c);
  color: white;
  padding: 14px 60px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}