* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;

}
.home-page {
    background-color: #DAC1B1
}

.container{
  max-width: 1800px;
  margin: 0 auto;
}

header{
  background-color: #7F1F0E;
  padding: 12px;
}

.header{
display: flex;
align-items: center;
justify-content: space-between;
}

.info-perfil{
  display: flex;
  gap: 24px;
  align-items: center;
}

.info-perfil img {
  height: 45px;
  border-radius: 50px;

}
.perfil{
  display: flex;
  align-items: center;
  gap: 8px;
}
.perfil span{
color: white;
}

.nav-list {
    display: flex;
  gap: 20px;
  list-style: none;

}
.item-list{
  display: flex;
  gap: 24px;
  align-items: center;


}
.item-list a {
    color: aliceblue;
    text-decoration: none;
   
}

.app-footer{
display:flex;
align-items:center;
justify-content:space-between;
background:#8b2a12;
color:white;
padding:15px 30px;

}



.footer-left{
display:flex;
gap:20px;
}

.footer-left a{
color:white;
text-decoration:none;
font-size:14px;
}



.footer-center{

left:50%;
transform:translateX(-50%);
}

.footer-logo{
height:35px;
border-radius: 20px;
}

.footer-right{
font-size:13px;
}


body {
  background-color: #d2b8a3;
  font-family: Arial, sans-serif;
}


.cadastro-box {
  background-color: #9b4f3c;
  width: 95%;
  max-width: 1400px;
  margin: 40px auto;
  padding: 50px;
  border-radius: 35px;
  color: white;
}
.cadastro-box h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
  font-size: 30px;
  margin: 0 auto;
 margin-top: 20px;
  display: block;
}

.cadastro-box h1 {

  font-size: 40px;
}


.lado-esquerdo {
  flex: 2;
}
.lado-esquerdo > input {
    width: 100%;
}

.formulario {
  gap: 60px;
  display: flex;
  padding: 26px;
  
}
.lado-direito {
  flex: 1;
  display: flex;
  flex-direction: column;
margin-top: 60px;
  gap: 20px;
  justify-content: flex-start;
}

.lado-direito .campo2 {
  width: 100%;
  margin-top: 2px;
  height: 100px;
}

input,
select {
  width: 100%;
  padding: 10px 2px;
  border-radius: 20px;
  border: none;
  background-color: #d9cfcf;
  font-size: 24px;
}


.linha {
  display: flex;
  gap: 100px;
}

.ano{
    width: 800px;
}
.campo {
  flex: 1;
 
}


.preview {
  width: 500px;
    height: 404px;
    margin-top: 60px;
    border-radius: 29px;
 
}


button {
  background-color: #7a2d1f;
  color: white;
padding: 16px 70px;
border-radius: 30px;
border: none;
}

button:hover {
  background-color: #5e2117;
}

