* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;

}

img {
  max-width: 100%;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
}

header{
  background-color: #7F1F0E;
  padding: 12px;
}

.header{
display: flex;
align-items: center;
justify-content: space-between;
}

.info-perfil{
  display: flex;
  gap: 24px;
  align-items: center;
}

.info-perfil img {
  height: 45px;
  border-radius: 50px;

}
.perfil{
  display: flex;
  align-items: center;
  gap: 8px;
}
.perfil span{
color: white;
}

.nav-list {
  display: flex;
  gap: 24px;
  align-items: center;

}
.item-list{
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;


}
.item-list a {
    color: aliceblue;
      text-decoration: none;
   
}
